#msgContainer {
  padding: 0px 30%;
}

#msgDisplay {
  border: 1px solid black;
  list-style-type: none;
  padding: 0px 10px;
}

#addMessageButton {
  background: #4CAF50;
  color: white;
  border-style: outset;
  border-color: #4CAF50;
  /* height: 50px;
  width: 150px; */
  font: bold 15px arial, sans-serif;
  text-shadow: none;
}

.closeButton:hover{
  background: red;
}
.closeButton {
  border-radius: 10px;
}

.editButton:hover{
  background: aqua;
}
.editButton {
  border-radius: 10px;
}