/* * {
  border : 1px solid black;
} */

body {
  margin: 0;
  padding: 0px;
}

#headerComp {
  background: linear-gradient(to bottom left, lightblue, darkblue);
  color: silver;
  padding: 10px;
  font-family: 'Baloo Bhai', cursive;
}

#mainContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

#mainContainer div:first-child {
  margin: 1em auto;
  max-width: 75vw;
}


#mainContainer div:last-child > h2 {
  color: #3C3832;
  font-family: 'Avenir Next', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI'; 
  font-size: 1.375em;
  font-weight: 500;
}

#mainContainer div:last-child article {
  padding: 1em;
  border: 1px solid #C7C4C0;
  border-radius: 3px;
  margin: 1em 0;
  width: 380px;
}


.history {
  border: 1px solid black;
  padding: 10px; 
  margin-top: 10px;
  background-color: rgb(220, 229, 236);
}

#searchContainer {
  display: flex;
  flex-direction: column;
}

article svg {
  margin-bottom: 3px;
}

article>svg:last-child {
  margin-left: auto;
  margin-top: 0.9em;
  transition: all 0.2s ease-in-out;
}

article>svg:last-child:hover {
  cursor: pointer;
}

article>svg:last-child:active {
  transform: scale(0.95);
}

svg.unlike:hover {
  cursor: pointer;
}

/* article svg:last-of-type {
  margin-left: auto;
} */

.searchResult {
  text-align: center;
  border: 1px solid black;
  border: 1px solid black;
  padding: 0 10px 10px 10px; 
  margin: 10px;
  background-color:gainsboro;
}

.searchResult h4{
  margin: 5px;
  margin-top: 15px;
}

.searchResult h6{
  margin: 5px;
}

